#banner{
  position: relative;
  background: url('../img/banner.jpeg');
  min-height: 250px;

  .primary-overlay{
    background: rgba(141,2,31,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
